project_id = "tyorpbzvjnasyaqbggcp"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_schemas = ["extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
port = 54323
ip_version = "ipv6"

[studio]
enabled = true
port = 54324
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327

[functions.send-contact-email]
verify_jwt = false

[functions.create-payment-intent]
verify_jwt = true

[functions.confirm-payment]
verify_jwt = true

[functions.send-order-confirmation]
verify_jwt = true

[functions.check-completed-orders]
verify_jwt = false

[functions.send-review-notification]
verify_jwt = true

[functions.send-review-to-admin]
verify_jwt = true